{{#if userInSession}}

  <h2>Welcome, {{userInSession.username}}</h2>
  <p>This is your profile my friend!</p>

  <button>
    <a href="/userProfile">Reload the page</a>
  </button>
  <button>
    <a href="/main">Main content</a>
  </button>
  <button>
    <a href="/private">Plus content</a>
  </button>
  <form id="logout-form" action="/logout" method="POST">
    <button>Logout</button>
  </form>

{{else}}
  <p>Still no logged in user, sorry!</p>
{{/if}}